@charset "utf-8";
/* CSS Document */

body {
	background-color:black;
	background-image: url(bgfix.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.img-responsive {
	width: 100%;
	height:auto;
	display : block;
	margin-left:auto;
	margin-right: auto;
}
.top-up
{
	background-color:gold;
	height:auto;
	display : block;
	margin-top: 15px;
	margin-left: 35px;
}

.bank {
	width: 100%;
	width:350px;
	height:auto;
	display : block;
	margin-left:auto;
	margin-right: auto;
}
