@charset "utf-8";
body {
	height: 100%;
	background-image: url(bgfix.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}/* CSS Document */

.img-responsive {
	width: 100%;
	height:auto;
	margin-left: auto;
	margin-top: auto;
}

.navbar{
	background-color: black;
	opacity: 0.8;
}


.gambar {
	width: 100%;
	height:auto;
	margin-top: -60px;
	background-attachment:fixed;
}
