@charset "utf-8";
/* CSS Document */

@charset "utf-8";
body {
	background-color:black;
	background-image: url(bgfix.png);
	background-repeat:no-repeat;
	background-size:cover;
}/* CSS Document */

.img-responsive {
	width: 100%;
	width: 200px;
	height:auto;
	display : block;
	margin-left:auto;
	margin-right: auto;
	
}

.img-responsive2 {
	width: 100%;
	width: 200px;
	height:auto;
	display : block;
	margin-left:auto;
	margin-right: auto;
	margin-top: 20px;

}

.kissplus {
	width: 100%;
	width: 100px;
	height:auto;
	margin-left: 50px;
	margin-top: 20px;
}

.kiss2 {
	width: 100%;
	width: 100px;
	height:auto;
	margin-top: 20px;
}
.newtown {
	width: 100%;
	width: 100px;
	height:auto;
	margin-top: 20px;
}

.ace {
	width: 100%;
	width: 100px;
	height:auto;
	margin-left: 50px;
	margin-top: 10px;
}
.xe {
	width: 100%;
	width: 100px;
	height:auto;
	margin-top: 10px;
}
.pussy88 {
	width: 100%;
	width: 100px;
	height:auto;
	margin-top: 10px;
}
.playboy {
	width: 100%;
	width: 100px;
	height:auto;
	margin-left: 50px;
	margin-top: 10px;
}

.megga {
	width: 100%;
	width: 100px;
	height:auto;
	margin-top: 10px;

}

.lpe88 {
	width: 100%;
	width: 100px;
	height:auto;
	margin-top: 10px;
}

.kiss {
	width: 100%;
	width: 100px;
	height:auto;
	margin-left: 50px;
	margin-top: 10px;
}

.evo88 {
	width: 100%;
	width: 100px;
	height:auto;
	margin-top: 10px;
}

.jokker {
	width: 100%;
	width: 100px;
	height:auto;
	margin-top: 10px;
}

