@charset "utf-8";
/* CSS Document */

@charset "utf-8";
body {
	height: 100%;
	background-image: url(bgfix.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}/* CSS Document */

.img-responsive {
	width: 200%;
	width: 100px;
	height:auto;
	display : block;
	margin-left:auto;
	margin-right: auto;
	
}

.play {
	width: 100%;
	width: 250px;
	height:auto;
	display : block;
	margin-top: 25px;
	margin-left:auto;
	margin-right: auto;
	
}


.navbar{
	background-color: black;
	opacity: 0.8;
}

div.content {
	height: 123px;
	width: 100px;
	float:left;
	margin: 5px;
}

div#ace {
	background-image:url(ace.png);
	background-size :cover;
}

div#kisspluss {
	background-image:url(kisspluss.png);
	background-size :cover;
}

div#kises {
	background-image:url(kises.png);
	background-size :cover;
}

div#newtown {
	background-image:url(newtown.png);
	background-size :cover;
}
div#xe {
	background-image:url(xe.png);
	background-size :cover;
}

div#pussy88 {
	background-image:url(pussy88.png);
	background-size :cover;
}

div#playboy {
	background-image:url(playboy.png);
	background-size :cover;
}

div#megga {
	background-image:url(megga.png);
	background-size :cover;
}

div#lpe88 {
	background-image:url(lpe88.png);
	background-size :cover;
}

div#kiss {
	background-image:url(kiss.png);
	background-size :cover;
}
div#evo88 {
	background-image:url(evo88.png);
	background-size :cover;
}

div#jokker {
	background-image:url(jokker.png);
	background-size :cover;
}